
@topbar = {
	<div class="hero-unit" style="background-image:url(@routes.Assets.at("images/gplay-grad.png")); background-repeat:repeat-x;background-color:transparent">
    	<div class="row">
    		<div class="container">
	        <center><h1>SGATools</h1>
	        <p>Tools for image processing, normalizing and scoring Sythetic Genetic Array and similar screens. </p>
	        <p><a class="btn btn-primary btn-large">Get started »</a> </p>
	        </center>
	        </div>
	    </div>
     </div>
}
@main(Html(""), topbar) {
    

	<div class="row">
        <div class="span4">
          <h2><img src="@routes.Assets.at("images/ia-icon.png")" style="padding-bottom:5px"/> Image analysis</h2>
          <p>Utilizes the image analysis software, <a href="http://research.ncl.ac.uk/colonyzer/">Colonizer</a> to determine and provide accurate pixel colony sizes. See details of the software <a href="http://www.ncbi.nlm.nih.gov/pubmed/20509870">here</a></p>
          <br>
          <p><a class="btn" href="">Start image analysis »</a></p>
        </div>
        <div class="span4">
          <h2><img src="@routes.Assets.at("images/norm-icon.png")" style="padding-bottom:5px"/> Normalization</h2>
          <p>Comprehensive filtering and reduction of several plate/experimental artifacts to drastically enhance the quality of your data. Read more <a href="http://www.ncbi.nlm.nih.gov/pubmed/21076421">here</p>
          <p><a class="btn" href="@routes.NormalizationController.initNormalizationForm()">Start normalization »</a></p>
       </div>
        <div class="span4">
          <h2><img src="@routes.Assets.at("images/score-icon.png")" style="padding-bottom:5px"/> Scoring</h2>
          <p>Use control screens or single mutant fitness data to score normalized colony sizes allowing you to identify biologically meaningful genetic interactions</p>
          <p><a class="btn" href="@routes.ScoringController.initScoringForm()">Start scoring »</a></p>
        </div>
      </div>

}