@(title: String, nav: String = "")(content: Html)
<!DOCTYPE html>

<html>
    <head>
        <title>@title</title>
        <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/main.css")">
        <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/loading.css")">
        <link rel="shortcut icon" type="image/png" href="@routes.Assets.at("images/favicon.png")">
        <script src="@routes.Assets.at("javascripts/jquery-1.7.1.min.js")" type="text/javascript"></script>
        <script src="@routes.Assets.at("javascripts/jquery.csvToTable.js")" type="text/javascript"></script>
        
        <!--Bootstrap imports-->
        <script src="@routes.Assets.at("external/bootstrap/original/js/bootstrap.js")" type="text/javascript"></script>
        <link rel="stylesheet" media="screen" href="@routes.Assets.at("external/bootstrap/original/css/bootstrap.css")">
        <link rel="stylesheet" media="screen" href="@routes.Assets.at("external/bootstrap/original/css/docs.css")">
        
        
        <link rel="stylesheet" media="screen" href="@routes.Assets.at("external/font-awesome/css/font-awesome.css")">
        
        <!--Bootstrap extensions by Jansy-->
        <script src="@routes.Assets.at("external/bootstrap/jasny-extensions/js/bootstrap-fileupload.js")" type="text/javascript"></script>
        <link rel="stylesheet" media="screen" href="@routes.Assets.at("external/bootstrap/jasny-extensions/css/jasny-bootstrap.css")">
        
        <!--Google prettify-->
        <script src="@routes.Assets.at("external/google-code-prettify/prettify.js")"></script>
        <link rel="stylesheet" href="@routes.Assets.at("external/google-code-prettify/prettify.css")">
        
        <!--Init. required modals-->
        <script type="text/javascript">
			$('#helpModal').modal();
		</script>
		
    </head>
    <body style="background-image:url(@routes.Assets.at("images/dots.jpg"));background-repeat:repeat; margin-top:55px;">
    	
    	<!-- Navigation bar -->
    	<div class="navbar navbar-fixed-top">
      		<div class="navbar-inner">
        		<div class="container">
          			<a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            			<span class="icon-bar"></span>
            			<span class="icon-bar"></span>
            			<span class="icon-bar"></span>
          			</a>
          			<a class="brand" href="@routes.Application.index()"><i class="icon-th-large"></i> SGATools</a>
	          		<div class="nav-collapse collapse">
	            		<ul class="nav">
	              			<li class="@("active".when(nav == "image-analysis"))">
	             				<a href="@routes.SGAToolsController.initIAForm()">Image analysis</a>
	             			</li>
	             			<li class="@("active".when(nav == "normalize"))">
	             				<a href="@routes.SGAToolsController.initNormalizationForm()">Normalize</a>
	             			</li>
	             			<li class="@("active".when(nav == "score"))">
	             				<a href="@routes.SGAToolsController.initScoringForm()">Score</a>
	             			</li>
	             			
	            		</ul>
	            	<ul class="nav pull-right">
		          		<li class="divider-vertical"></li>
		          		<li class="@("active".when(nav == "help"))">
		             		<a href="@routes.Application.renderHelpPage()">Help</a>
		           		</li>
		           		
		           		<li class="@("active".when(nav == "about"))">
		             		<a href="#">About</a>
		           		</li>
		           		
		           		<li class="@("active".when(nav == "contact"))">
		             		<a href="#">Contact</a>
		           		</li>
		            
		          	</ul>
	          		</div><!--/.nav-collapse -->
        		</div>
      		</div>
    	</div>
    	
    	
		@modal("helpModal", "helpModal-heading", "helpModal-body")
    	
    	<!-- Container content -->
    	<div class="container">
    	
    		@if(title != "Home"){
	    		<div class="page-header" style="padding-top:10px">
	    			<h3>@title</h3>
	            </div>
            }
            
        	@content
    	</div>
    	
    	<div class="container">
    	
        	<!--Footer stuff in diff container-->
        	<hr>
    		<footer>
    		<div class="pull-left" style="width:32%">
    			<p>© Boone Lab 2012</p>
    		</div>
    		
    		<div class="pull-right" style="width:32%; text-align:right">
        		<a id="small-link" href="https://github.com/boonelab/SGATools/issues" target="_blank">Issue tracker </a>
        		 | 
         		<a id="small-link" href="https://github.com/boonelab/SGATools" target="_blank">Download</a>
         	</div>
         	
    		<div style="margin-right:32%; margin-left:32%;">
    		<img src="@routes.Assets.at("images/boonelab-logo.png")" height="80" width="80" />
    		<img src="https://gaspard.gownsandrobes.com/gaspard/images/uoftlogo.gif" height="130" width="130" />
    		</div>
    		
    		</footer>
    		
    	</div>
    	
    	
    </body>
</html>
