@(normalizationForm: Form[SGAToolsJob])
@import helper._
@import helper.twitterBootstrap._
@implicitFieldConstructor = @{ FieldConstructor(help.twitterBootstrapInput.f) }

@main(title="Low-throughput normalization of colony sizes", nav="normalize") {
    
	@helper.form(action = routes.SGAToolsController.submitNormalizationForm, 'enctype -> "multipart/form-data", 'id -> "normalizationForm", 'class->"form-horizontal") {
		<fieldset>
			<input type="hidden" name="job_type" value=1 />
			
            @helper.input(normalizationForm("sgafiles"), '_label -> "SGA formatted file(s)", 'uploadwidget->"") { (id, name, value, args) =>
    			<div class="fileupload fileupload-new" data-provides="fileupload">
					<div class="fileupload-preview uneditable-input" style="width:210px;"></div>
						<span class="btn btn-file"><span class="fileupload-new">Select file</span>
						<span class="fileupload-exists">Change</span><input id="@id" name="@name" multiple type="file" name="mainfile"/></span>
						<a href="#" class="btn fileupload-exists" data-dismiss="fileupload">Remove</a>
				</div>
			} 
			<h5>Options</h5>
			
            @helper.input(
           		normalizationForm("control_borders"),
           		'_label -> "Control borders",
           		'_showConstraints -> false,
                'class->"input-large"
           	){ (id, name, value, args) =>
           		<select id="@id" name="@name">
           			<option @if(normalizationForm.get.control_borders == 0){selected=selected})">0</option>
           			<option @if(normalizationForm.get.control_borders == 1){selected=selected})">1</option>
           			<option @if(normalizationForm.get.control_borders == 2){selected=selected})">2</option>
           			<option @if(normalizationForm.get.control_borders == 3){selected=selected})">3</option>
           			<option @if(normalizationForm.get.control_borders == 4){selected=selected})">4</option>
           		</select>
           		
           	}
            @helper.input(
           		normalizationForm("replicates"),
           		'_label -> "Replicates",
           		'_showConstraints -> false,
                'class->"input-large"
           	){ (id, name, value, args) =>
           	
           		<select id="@id" name="@name">
           			<option @if(normalizationForm.get.replicates == 1){selected=selected})">1</option>
           			<option @if(normalizationForm.get.replicates == 4){selected=selected})">4</option>
           		</select>
           	}
          	
          	@helper.input(
           		normalizationForm("do_linkage"),
           		'_label -> "Linkage correction",
           		'_showConstraints -> false,
           		'_help -> "Note—chromosome number/position data for genes must be supplied"
           	){ (id, name, value, args) =>
           		<label class="checkbox" onClick="updateLinkageField()">
					<input @if(normalizationForm.get.do_scoring == true){checked=true}) id="@id" name="@name"  @toHtmlArgs(args) type="checkbox" value="true" style="margin-left:-15px" onClick="updateSubmitButton()">
					 <span>&nbsp;Remove genes with a specific proximity to one another from the analysis</span>
				</label>
			}
			
           	@helper.input(
           		normalizationForm("linkage_cutoff"),
           		'_label -> "Linkage cutoff",
           		'_showConstraints -> false,
           		'cg_id -> "linkage_cutoff_cg",
           		'cg_style -> "display:none"
           	){ (id, name, value, args) =>
           		<div class="input-append">
      				<input class="span2" id="@id" name="@name" @toHtmlArgs(args) size="16" type="text" style="width:175px" 
      				value="@normalizationForm.get.linkage_cutoff"><span class="add-on">KB</span>
      			</div>
			}
			
			@helper.input(
           		normalizationForm("do_scoring"),
           		'_label -> "Score results",
           		'_showConstraints -> false,
           		'_help -> "Note—control screens and/or single mutant fitness data must be supplied"
           	){ (id, name, value, args) =>
           		<label class="checkbox">
					<input @if(normalizationForm.get.do_scoring == true){checked=true}) id="@id" name="@name"  @toHtmlArgs(args) type="checkbox" value="true" style="margin-left:-15px" onClick="updateSubmitButton()">
					 <span>&nbsp;Scores the normalized output</span>
				</label>
			}
			
			@helper.input(
           		normalizationForm("show_plate_heatmaps"),
           		'_label -> "Show plate heatmaps",
           		'_showConstraints -> false
           	){ (id, name, value, args) =>
           		<label class="checkbox">
					<input @if(normalizationForm.get.show_plate_heatmaps == true){checked=true}) id="@id" name="@name"  @toHtmlArgs(args) type="checkbox" value="true" style="margin-left:-15px">
					 <span>&nbsp;Displays heatmaps of plates before/after normalization</span>
				</label>
			}
			
        </fieldset>
        
        <!--Submit/clear all box-->
        <div class="form-actions">
		  <button id="nsubmit" type="submit" class="btn btn-primary" onClick="document.getElementById('normalizationForm').className = 'hide';
		  		document.getElementById('loading').style.display = 'inline';
		  		this.disabled=1; document.getElementById('clearall').disabled=1;this.form.submit();">Normalize</button>
		  <a href="@routes.SGAToolsController.initNormalizationForm()"><button id="clearall" type="button" class="btn">Clear all</button></a>
		</div>
	
		
		<!--Javascript helper functions-->
		<script type="text/javascript">
			updateSubmitButton()
			<!--Updates submit button if user wants to score as well-->
			function updateSubmitButton(){
				if (document.getElementById('do_scoring').checked == true) {
				   document.getElementById('nsubmit').innerHTML = 'Normalize and score'
				} else {
				    document.getElementById('nsubmit').innerHTML = 'Normalize'
				} 
			}
			
			function updateLinkageField(){
				if (document.getElementById('do_linkage').checked == true) {
				   document.getElementById('linkage_cutoff_cg').style.display = ''
				} else {
					document.getElementById('linkage_cutoff_cg').style.display = 'none'
				} 
			}
			
		</script>
	} 
	
	<div id="loading" style="display:none">
		@loading("Normalizing data")
	</div>
	
	
}