@(normalizationForm: Form[SGAToolsJob])
@import helper._
@import help._
@implicitFieldConstructor = @{ FieldConstructor(help.twitterBootstrapInput.f) }

@main(title="Low-throughput normalization of colony sizes", nav="normalize") {

	<script>
		//Some update toggle scripts when the page has loaded
		$(document).ready(function() {
			updateSubmitButton();
			toggleDiv('doLinkage', 'linkageCutoffCG');
			toggleDiv('doArrayDef', 'arrayDefOptions');
			arrayDefChanged(document.getElementById('arrayDefPredefined'));
		});
	
	</script>

	@helper.form(action = routes.SGAToolsController.submitNormalizationForm, 'enctype -> "multipart/form-data", 'id -> "normalizationForm", 'class->"form-horizontal") {
		
		
        <!--Data upload-->
		<h4>Data input</h4>
			<fieldset>
			<!--Job type: 1 for normalization-->
			<input type="hidden" name="jobType" value=1 />
			<!--
				@inputFile(
            	normalizationForm("arrayDefCustomFile"),
            	'_label -> "Custom file(s)",
            	'_id -> "upload01",
            	'class -> "fileBtn"
			)-->
            <!--File format selection-->
			@select(
                normalizationForm("fileFormat"),
                options = options(ComboboxOpts.fileFormat),
                '_label -> "File format",
                '_showConstraints -> false,
                'style -> "width:250px",
                'helpModal -> "file-formats"
            )
			
            <!--Plate files upload-->
            @helper.input(
            	normalizationForm("plateFiles"),
            	'_label -> "Plate file(s)", 
            	'uploadwidget->"",
			'helpModal -> "plate-files") { (id, name, value, args) =>
            	
    			@customFileChooser("plateFiles", "plateFiles", true, Html(""))
			} 
            
		   <!--Include array definition checkbox-->
		   @helper.input(
			normalizationForm("doArrayDef"),
			'_label -> "Array definition files",
			'_showConstraints -> false,
			'helpModal -> "array-definition",
			'height -> "15px"
           	){ (id, name, value, args) =>
			<label class="checkbox" onClick="toggleDiv('@id', 'arrayDefOptions')">
				<input @if(normalizationForm.get.doArrayDef == true){checked=true}) id="@id" name="@name"  @toHtmlArgs(args) type="checkbox" value="true" style="margin-left:-15px">
					<span>&nbsp;Include array definition files</span>
					</label>
			}
						
		   <!--Enclose all array definition options in a div-->
		   <div id="arrayDefOptions" style="display:none">
            <!--Array definition files - predefined-->
			@helper.input(
				normalizationForm("arrayDefPredefined"),
				'_label -> "",
				'helpModal -> "array-definition"
			) { (id, name, value, args) =>
				<!--Populate predefined array definitions-->
			    	<select id="@id" name="@name" onchange="arrayDefChanged(this)" @toHtmlArgs(args)>
			    		@for(value <- ComboboxOpts.arrayDef){
			    			<option @if(value == normalizationForm.get.arrayDefPredefined){selected}>@value</option>
			    		}
			    	</select>
			    	<!--Populate their plates-->
					@for(i <- 0 to ComboboxOpts.arrayDef.size -1){
						@if(i != 0 & i != 3){
							<select class="plateCombo hide" id="@ComboboxOpts.arrayDef.get(i)-plates" onchange="arrayDefChanged(document.getElementById('@id'))">
								@for(plateName <- ComboboxOpts.arrayDefPlates(ComboboxOpts.arrayDef.get(i))){
									<option>@plateName</option>
								}
							</select>
						}
					}
				<!--Button which triggers modal viewer-->
					<button onclick="arrayDefChanged(document.getElementById('@id'))" id="viewPlate" class="btn" type="button" data-toggle="modal" data-target="#helpModal">
						<i class="icon-file"></i>
					</button>
					
			 }
									
			<!--Array definition file - Custom-->					
			@helper.input(
				normalizationForm("arrayDefCustomFile"),
				'_label -> "",
				'uploadwidget->"",
				'cg_id->"arrayDefCustomCG",
				'cg_style->"display:none"
				) { (id, name, value, args) =>
    			@customFileChooser("arrayDefCustomFile", "arrayDefCustomFile", false, toHtmlArgs(args))
			}
									
			</div>
			
				
			</fieldset>
			
			<h4>Options</h4>

			<fieldset>
            @select(
                normalizationForm("controlBorders"),
                options = options(ComboboxOpts.borders),
                '_label -> "Control borders",
                '_showConstraints -> false,
				'helpModal -> "control-borders",
				'cg_style -> "display:none"
            )
            @select(
                normalizationForm("replicates"), 
                options = options(ComboboxOpts.replicates),
                '_label -> "Replicates",
                '_showConstraints -> false,
		'helpModal -> "array-replicates"
            )
          	
          	@helper.input(
           		normalizationForm("doLinkage"),
           		'_label -> "Linkage correction",
           		'_showConstraints -> false,
           		'_help -> "Note—chromosome number/position data for genes must be supplied",
			'helpModal -> "linkage-correction"
           	){ (id, name, value, args) =>
           		<label class="checkbox" onClick="toggleDiv('@id', 'linkageCutoffCG')">
					<input @if(normalizationForm.get.doLinkage == true){checked=true}) id="@id" name="@name"  @toHtmlArgs(args) type="checkbox" value="true" style="margin-left:-15px" onClick="updateSubmitButton()">
					 <span>&nbsp;Remove genes with a specific proximity to one another from the analysis</span>
				</label>
			}
			
           	@helper.input(
           		normalizationForm("linkageCutoff"),
           		'_label -> "Linkage cutoff",
           		'_showConstraints -> false,
           		'cg_id -> "linkageCutoffCG",
           		'cg_style -> "display:none"
           	){ (id, name, value, args) =>
           		<div class="input-append">
      				<input class="span2" id="@id" name="@name" @toHtmlArgs(args) size="16" type="text" style="width:175px" 
      				value="@normalizationForm.get.linkageCutoff"><span class="add-on">KB</span>
      			</div>
			}
			
			@helper.input(
           		normalizationForm("doScoring"),
           		'_label -> "Score results",
           		'_showConstraints -> false,
           		'_help -> "Note—control screens and/or single mutant fitness data must be supplied",
			'helpModal -> "do-scoring"
           	){ (id, name, value, args) =>
           		<label class="checkbox">
					<input @if(normalizationForm.get.doScoring == true){checked=true}) id="@id" name="@name"  @toHtmlArgs(args) type="checkbox" value="true" style="margin-left:-15px" onClick="updateSubmitButton()">
					 <span>&nbsp;Scores the normalized output</span>
				</label>
			}
				
				
			</fieldset>
			
        
        <!--Submit/clear all box-->
        <div class="form-actions">
		  <button id="nsubmit" type="submit" class="btn btn-primary" onClick="document.getElementById('normalizationForm').className = 'hide';
		  		document.getElementById('loadingDiv').style.display = 'inline';
		  		this.disabled=1; document.getElementById('clearall').disabled=1;this.form.submit();">Normalize</button>
		  <a href="@routes.SGAToolsController.initNormalizationForm()"><button id="clearall" type="button" class="btn">Clear all</button></a>
		</div>
	
		
		<!--Javascript helper functions-->
		<script type="text/javascript">
			updateSubmitButton()
			
        </script>
	} 
	
	<!--Hidden loading div for display when user submits-->
	<div id="loadingDiv" style="display:none">
		@loading("Normalizing data")
	</div>

	
}
