@(job: SGAToolsJob)

@main(title="Normalization complete!", nav="normalize") {
	<table class="table table-hover">
		<thead>
	        <tr>
	          <th>Job summary</th>
	        </tr>
        </thead>
		<tr>
			<td>Elapsed time</td>
			<td>@job.timeElapsed</td>
		</tr>
		<tr>
			<td>Plate files</td>
			<td>@job.plateFileNamesCSV</td>
		</tr>
		<tr>
			<td>Control borders</td>
			<td>@job.controlBorders</td>
		</tr>
		<tr>
			<td>Replicates</td>
			<td>@job.replicates</td>
		</tr>
		<tr>
			<td>Linkage correction cutoff</td>
			<td>@job.linkageCutoff</td>
		</tr>
		<tr>
			<td>Results scored</td>
			<td>@if(job.doScoring == true){&#10004;}else{&#10008;}</td>
		</tr>
		<!--
		<tr>
			<td>Plate heatmaps</td>
			<td>if(job.show_plate_heatmaps == true){&#10004; <a href="@routes.Assets.at(job.plottedDataPath)">Click here</a>}else{&#10008;}</td>
			 
		</tr>
		-->
		
	</table>
	<a class="btn btn-success" href="@routes.Assets.at(job.outputPath)"><i class="icon-download-alt"></i> Download results</a>
	<a class="btn" href="@routes.SGAToolsController.initNormalizationForm"><i class="icon-repeat"></i> Start over</a>
}