@(iaForm: Form[SGAToolsJob])
@import helper._
@import helper.twitterBootstrap._
@implicitFieldConstructor = @{ FieldConstructor(help.twitterBootstrapInput.f) }
@import help._

@main(title="Image analysis", nav="image-analysis") {
	<center>@customFileChooser("imageLoader", "imageLoader", true, Html(""))</center>
	​<br>
	<div id="canvasDiv" style="overflow: auto;max-width: 100%; max-height: 600px;display:none">
		<canvas id="imageCanvas"></canvas>
	</div>
	<br>
	<center><button id='downloadCoordinates' class="btn btn-large disabled" onclick="alert('TOP LEFT='+topLeft.x+','+ topLeft.y+ 'and BOTTOM RIGHT='+bottomRight.x+','+ bottomRight.y);">Download coordinates</button>
    </center>
<script type = "text/javascript">
	var imageLoader = document.getElementById('imageLoader');
	imageLoader.addEventListener('change', handleImage, false);
	var canvas = document.getElementById('imageCanvas');
	var ctx = canvas.getContext('2d');
	
	var firstColony = null;
	var lastColony = null;
	var img = null;
	
	canvas.addEventListener('click', function(event) {
	    var mousePos = getMousePos(canvas, event);
	    if (firstColony == null) {
	        firstColony = mousePos;
	    } else if (lastColony == null) {
	        lastColony = mousePos;
	    } else {
	        firstColony = null;
	        lastColony = null;
	    }
	}, false);
	canvas.addEventListener('mousemove', function(event) {
	    var mousePos = getMousePos(canvas, event);
	    //var message = "Mouse position: " + mousePos.x + "," + mousePos.y;
	    //writeMessage(canvas, message, img);
	    writeMessage(canvas, mousePos, img);
	}, false);
	
	
	function handleImage(e) {
		
	    firstColony = null;
	    lastColony = null;
	
	    var reader = new FileReader();
	    reader.onload = function(event) {
	    
	        img = new Image();
	        img.onload = function() {
	
	            canvas.width = img.width;
	            canvas.height = img.height;
	            ctx.drawImage(img, 0, 0);
	        }
	        img.src = event.target.result;
	
			
			document.getElementById('canvasDiv').style.display = "";
	    }
	    reader.readAsDataURL(e.target.files[0]);
	}
	
	
	function writeMessage(canvas, mousePos, img) {
	    var context = canvas.getContext('2d');
	    //Clear canvas
	    context.clearRect(0, 0, canvas.width, canvas.height);
	
	    //Draw our image
	    context.drawImage(img, 0, 0);
	
	    context.beginPath();
	    context.lineWidth = 1;
	    context.strokeStyle = "green";
	    context.moveTo(0, mousePos.y);
	    context.lineTo(canvas.width, mousePos.y);
	    context.stroke();
	
	    context.strokeStyle = "green";
	    context.moveTo(mousePos.x, 0);
	    context.lineTo(mousePos.x, canvas.height);
	    context.stroke();
	    //Do text
	    //context.font = '15pt Calibri';
	    //context.fillStyle = 'red';
	    //context.fillText(message, 10, 25);
	    document.getElementById('downloadCoordinates').className = "btn btn-large disabled";
	    
	    if (firstColony != null) {
	        ctx.fillStyle = "#f00";
	        ctx.fillRect(firstColony.x - 3, firstColony.y - 3, 6, 6);
	    }
	    if (lastColony != null) {
	        ctx.fillStyle = "#00009C";
	        ctx.fillRect(lastColony.x - 3, lastColony.y - 3, 6, 6);
	
	        //Show download button
	        
	    	document.getElementById('downloadCoordinates').className = "btn btn-large";
	    }
	}
	
	function getMousePos(canvas, evt) {
	    var rect = canvas.getBoundingClientRect(),
	        root = document.documentElement;
	
	
	    var mouseX, mouseY;
	
	    if (evt.offsetX) {
	        mouseX = evt.offsetX;
	        mouseY = evt.offsetY;
	    }
	    else if (evt.layerX) {
	        mouseX = evt.layerX;
	        mouseY = evt.layerY;
	    }
	    return {
	        x: mouseX,
	        y: mouseY
	    };
	}

</script>​
}