@(scoringForm: Form[SGAToolsJob])
@import helper._
@import helper.twitterBootstrap._
@implicitFieldConstructor = @{ FieldConstructor(help.twitterBootstrapInput.f) }

@main(title="Scoring normalized colony sizes", nav="score") {
    
	@helper.form(action = routes.SGAToolsController.submitScoringForm, 'enctype -> "multipart/form-data", 'id -> "scoringForm", 'class->"form-horizontal") {
		<fieldset>
			<input type="hidden" name="job_type" value=2 />
            
            @helper.input(scoringForm("sgafiles"), '_label -> "SGA formatted file(s)", '_id -> "sgafiles", 'uploadwidget->"") { (id, name, value, args) =>
    			<div class="fileupload fileupload-new" data-provides="fileupload">
					<div class="fileupload-preview uneditable-input" style="width:210px;"></div>
					<span class="btn btn-file"><span class="fileupload-new">Select file</span><span class="fileupload-exists">Change</span><input type="file" name="mainfile"/></span>
					<a href="#" class="btn fileupload-exists" data-dismiss="fileupload">Remove</a>
				</div>
			} 
			<h5>Options</h5>
			
			@helper.input(
           		scoringForm("scoring_function"),
           		'_label -> "Scoring function",
           		'_showConstraints -> false
           	){ (id, name, value, args) =>
           		<select id="@id" name="@name">
				  <option>C&#7522;&#11388; - C&#7522;C&#11388;</option>
				</select>
           		
			}
			
			<!--
			@helper.input(
           		scoringForm("show_plate_heatmaps"),
           		'_label -> "Show plate heatmaps",
           		'_showConstraints -> false
           	){ (id, name, value, args) =>
           		<label class="checkbox">
					<input if(scoringForm.get.showPlateHeatmaps == true){checked=true}) id="@id" name="@name"  @toHtmlArgs(args) type="checkbox" value="true" style="margin-left:-15px">
					 <span>&nbsp;Display heatmaps of scored plate(s)</span>
				</label>
			}
			-->
			
        </fieldset>
        
        <!--Submit/clear all box-->
        <div class="form-actions">
		  <button id="ssubmit" type="submit" class="btn btn-primary" onClick="document.getElementById('scoringForm').className = 'hide';
		  		document.getElementById('loading').style.display = 'inline';
		  		this.disabled=1; document.getElementById('clearall').disabled=1;this.form.submit();">Score</button>
		  <a href="@routes.SGAToolsController.initScoringForm()"><button id="clearall" type="button" class="btn">Clear all</button></a>
		</div>
		
	} 
	
	
	<div id="loading" style="display:none">
		@loading("Scoring data")
	</div>
}